@import "../sass/utils/variables";
@import "../sass/utils/container";
@import "../sass/components/header";
@import "../sass/components/main-section-background";
@import "../sass/components/main-images";
@import "../sass/components/main-staff";
@import "../sass/components/main-costomers";
@import "../sass/components/footer";
@import "../sass/components/cards-portfolio";
@import "../sass/modalka/modal"

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}